---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";


---

<Layout>
	<main>
		<header class="flex items-center w-full justify-between fixed top-0 left-0 bg-white z-60 pb-35">
			<div class="flex items-center mt-*" >
                <a href="/"></a>
				<svg
					class="w-24 px-6 py-4 top-0"
					xmlns="http://www.w3.org/2000/svg"
					x="0px"
					y="0px"
					width="100"
					height="100"
					viewBox="0 0 24 24"
				> 
					<path
						d="M 12 2.0996094 L 1 12 L 4 12 L 4 21 L 10 21 L 10 14 L 14 14 L 14 21 L 20 21 L 20 12 L 23 12 L 12 2.0996094 z"
					></path>
				</svg>
                <div class="flex items-center justify-center mt-60 fixed  left-0 w-full bg-white z-50 "> 
                    <ul>
                        <h3 class="font-playfair text-4xl ml-17">
                            Contacto de 
                          </h3>
                          <h3 class="font-playfair text-4xl">
                            Softwave "BarberShop"
                          </h3>

                    </ul>
                    <div class="w-full border-t border-[#9b9e7d] mt-20 fixed top-40 bg-white "></div>

                </div>

				<nav>
					<ul class="space-x-3 flex">
						<a class="font-sans px-4 py-3 bg-black text-white rounded hover:bg-[#9b9e7d]" href="/contacto">Contacto</a
						>
						<a class="font-sans px-4 py-3 bg-black text-white rounded hover:bg-[#9b9e7d]" href="/servicios"
							>Servicio</a
						>
					</ul>
				</nav>
			</div>

			<div class="absolute left-1/2 transform -translate-x-1/2">
				<img
					class="w-36 mt-8 py-4"
					src="https://img.freepik.com/vector-gratis/ilustracion-vector-herramientas-peluquero-tijeras-navaja-afeitar-poste-cinta-muestra-texto_74855-10555.jpg?t=st=1743377051~exp=1743380651~hmac=3450503a78ced1cba1dd976e09adbd3546582040ceea83c39ddea5f2abd0eb94&w=1380"
					alt="logo"
				/>
			</div>
		</header>
        <body>


          </body>
          
	</main>
</Layout>
