---
import Header from "../components/header.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import Reserva from "../components/reserva.astro";
import Footer from "../components/footer.astro";

---

<Layout>
  <main class="min-h-screen flex flex-col">
    <Header />
    <div class="m-auto">
      <Reserva />
    </div>
    
    <Footer />
  </main>
</Layout>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
/>
