---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";


---

<Layout>
	<main>
		<header class="flex items-center w-full justify-between fixed top-0 left-0 bg-white z-60 pb-35">
			<div class="flex items-center mt-*" >
                <a href="/"></a>
				<svg
					class="w-24 px-6 py-4 top-0"
					xmlns="http://www.w3.org/2000/svg"
					x="0px"
					y="0px"
					width="100"
					height="100"
					viewBox="0 0 24 24"
				> 
					<path
						d="M 12 2.0996094 L 1 12 L 4 12 L 4 21 L 10 21 L 10 14 L 14 14 L 14 21 L 20 21 L 20 12 L 23 12 L 12 2.0996094 z"
					></path>
				</svg>
                <div class="flex items-center justify-center mt-60 fixed  left-0 w-full bg-white z-50 "> 
                    <ul>
                        <h3 class="font-playfair text-4xl ml-17">
                            Servicios por 
                          </h3>
                          <h3 class="font-playfair text-4xl">
                            Softwave "BarberShop"
                          </h3>

                    </ul>
                    <div class="w-full border-t border-[#9b9e7d] mt-20 fixed top-40 bg-white "></div>
                    

                </div>

				<nav>
					<ul class="space-x-3 flex">
						<a class="font-sans px-4 py-3 bg-black text-white rounded hover:bg-[#9b9e7d]" href="/contacto">Contacto</a
						>
						<a class="font-sans px-4 py-3 bg-black text-white rounded hover:bg-[#9b9e7d]" href="/servicios"
							>Servicio</a
						>
					</ul>
				</nav>
			</div>

			<div class="absolute left-1/2 transform -translate-x-1/2">
				<img
					class="w-36 mt-8 py-4"
					src="https://img.freepik.com/vector-gratis/ilustracion-vector-herramientas-peluquero-tijeras-navaja-afeitar-poste-cinta-muestra-texto_74855-10555.jpg?t=st=1743377051~exp=1743380651~hmac=3450503a78ced1cba1dd976e09adbd3546582040ceea83c39ddea5f2abd0eb94&w=1380"
					alt="logo"
				/>
			</div>

			<ul class="flex items-center justify-end space-x-4 pr-6 mt-*">
				<svg
					class="w-15 h-15"
					xmlns="http://www.w3.org/2000/svg"
					x="0px"
					y="0px"
					width="100"
					height="100"
					viewBox="0 0 24 24"
				>

				<svg
					class="w-15 h-15"
					xmlns="http://www.w3.org/2000/svg"
					x="0px"
					y="0px"
					width="100"
					height="100"
					viewBox="0 0 24 24"
				>

				<svg
					class="w-15 h-15"
					xmlns="http://www.w3.org/2000/svg"
					x="0px"
					y="0px"
					width="100"
					height="100"
					viewBox="0 0 24 24"
				>
            
		</header>
        <body >
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-8 max-w-6xl mx-auto pt-90 justify-items-center">
              <!-- Tarjeta 1 -->
              <div class="max-w-sm p-6 bg-black border border-black rounded-lg shadow-sm dark:bg-[#9b9e7d] ">
                <a href="#">
                  <h5 class="mb-2 text-2xl font-bold tracking-tight dark:text-black">
                    Corte de pelo
                  </h5>
                </a>
                <p class="font-sans mb-3 font-normal  dark:text-black">
                    Ajusta tu estilo con un corte profesional diseñado para destacar tus rasgos y adaptarse a tu personalidad.
                </p>
                <a
                  href="#"
                  class="font-sans inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-gray-950 rounded-lg hover:bg-gray-950  dark:bg-gray-950 dark:hover:bg-gray-950 "
                >
                  Reserva tu hora
                  <svg
                    class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 14 10"
                  >
                    <path
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M1 5h12m0 0L9 1m4 4L9 9"
                    />
                  </svg>
                </a>
              </div>
          
              <!-- Tarjeta 2 -->
              <div class="max-w-sm p-6 bg-black border border-black rounded-lg shadow-sm dark:bg-[#9b9e7d]">
                <a href="#">
                  <h5 class="mb-2 text-2xl font-bold tracking-tight  dark:text-black">
                    Perfilado de Barba
                  </h5>
                </a>
                <p class="font-sans mb-3 font-normal  dark:text-black">
                    Define y perfecciona la forma de tu barba con técnicas precisas para lograr un acabado limpio y elegante.
                </p>
                <a
                  href="#"
                  class="font-sans inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-gray-950 rounded-lg hover:bg-gray-950  dark:bg-gray-950 dark:hover:bg-gray-950 "
                >
                  Reserva tu hora
                  <svg
                    class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 14 10"
                  >
                    <path
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M1 5h12m0 0L9 1m4 4L9 9"
                    />
                  </svg>
                </a>
              </div>
          
              <!-- Tarjeta 3 -->
              <div class="max-w-sm p-6 bg-black border border-black rounded-lg shadow-sm dark:bg-[#9b9e7d] ">
                <a href="#">
                  <h5 class="mb-2 text-2xl font-bold tracking-tight  dark:black">
                    Corte de Pelo + Barba 
                  </h5>
                </a>
                <p class="font-sans mb-3 font-normal  dark:text-black">
                    Una combinación completa que incluye un corte de cabello impecable junto con el cuidado y perfilado de tu barba para un look integral.
                </p>
                <a
                  href="#"
                  class="font-sans inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-gray-950 rounded-lg hover:bg-gray-950  dark:bg-gray-950 dark:hover:bg-gray-950 "
                >
                  Reserva tu hora
                  <svg
                    class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 14 10"
                  >
                    <path
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M1 5h12m0 0L9 1m4 4L9 9"
                    />
                  </svg>
                </a>
              </div>
          
              <!-- Tarjeta 4 -->
              <div class="max-w-sm p-6 bg-black border border-black rounded-lg shadow-sm dark:bg-[#9b9e7d] ">
                <a href="#">
                  <h5 class="mb-2 text-2xl font-bold tracking-tight dark:text-black">
                    Rizos Permanente
                  </h5>
                </a>
                <p class="font-sans mb-3 font-normal dark:text-black">
                    Dale a tu cabello un estilo duradero con rizos permanentes, añadiendo volumen y textura con un toque natural.
                </p>
                <a
                  href="#"
                  class="font-sans inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-gray-950 rounded-lg hover:bg-gray-950  dark:bg-gray-950 dark:hover:bg-gray-950 "
                >
                  Reserva tu hora
                  <svg
                    class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 14 10"
                  >
                    <path
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M1 5h12m0 0L9 1m4 4L9 9"
                    />
                    
                    
                  </svg>
                  
                </a>
              </div>
            </div>
          </body>
          <section class="max-w-4xl mx-auto text-center mt-20">
            <h2 class="text-3xl font-bold mb-6">Lista de Precios</h2>
            
            <div class="border-t border-[#9b9e7d] w-full mb-6"></div>
        
            <ul class="text-xl font-medium">
                <li class="flex justify-between border-b border-gray-300 py-3">
                    <span>Corte Clásico</span>
                    <span class="font-bold">$10.000</span>
                </li>
                <li class="flex justify-between border-b border-gray-300 py-3">
                    <span>Perfilado de Barba</span>
                    <span class="font-bold">$8.000</span>
                </li>
                <li class="flex justify-between border-b border-gray-300 py-3">
                    <span>Corte + Barba</span>
                    <span class="font-bold">$14.000</span>
                </li>
                <li class="flex justify-between border-b border-gray-300 py-3">
                    <span>Rizos + Corte</span>
                    <span class="font-bold">$50.000</span>
                </li>
            </ul>
        </section>
          
	</main>
</Layout>
