---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import Header from "../components/header.astro";
import Services from "../components/serviciosCejas.astro";
import Footer from "../components/footer.astro";
---

<Layout>
  <main class="">
    <Header />
    <Services />
    <Footer />
  </main>
</Layout>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
/>