<br>
		<footer class="bg-[#000000] text-white py-6">
			<div class="container mx-auto flex flex-col md:flex-row justify-between items-center px-6">
				<!-- Sección de redes sociales -->
				<div class="flex space-x-6">
					<a href="https://www.instagram.com/" target="_blank" class="hover:text-gray-400">
						<i class="fab fa-instagram text-2xl"></i>
					</a>
					<a href="https://www.facebook.com/" target="_blank" class="hover:text-gray-400">
						<i class="fab fa-facebook text-2xl"></i>
					</a>
					<a href="https://wa.me/XXXXXXXXXX" target="_blank" class="hover:text-gray-400">
						<i class="fab fa-whatsapp text-2xl"></i>
					</a>
				</div>
		
				<!-- Derechos de autor -->
				<div class="mt-4 md:mt-0 text-center md:text-left">
					<p>© 2024 BarberShop. Todos los derechos reservados.</p>
				</div>
		
				<!-- Enlaces legales -->
				<div class="mt-4 md:mt-0">
					<a href="#" class="text-gray-400 hover:text-[#9b9e7d] mx-2">Aviso Legal</a>
					<a href="#" class="text-gray-400 hover:text-[#9b9e7d] mx-2">Política de Privacidad</a>
				</div>
			</div>
		</footer>