<body >
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-8 max-w-6xl mx-auto pt-40 justify-items-center">
      <!-- Tarjeta 1 -->
      <div class="max-w-sm p-6 bg-black border border-black rounded-lg shadow-sm dark:bg-[#9b9e7d] ">
        <a href="#">
          <h2 class="mb-2 text-2xl font-bold tracking-tight dark:text-black">
            Corte de pelo
          </h2>
        </a>
        <p class="font-sans mb-3 font-normal  dark:text-black">
            Ajusta tu estilo con un corte profesional diseñado para destacar tus rasgos y adaptarse a tu personalidad.
        </p>
      </br>
      <p>$10.000</p>
        <a
          href="/pago"
          class="font-sans inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-gray-950 rounded-lg hover:bg-gray-950  dark:bg-gray-950 dark:hover:bg-gray-950 "
        >
          Reserva tu hora
          <svg
            class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M1 5h12m0 0L9 1m4 4L9 9"
            />
          </svg>
        </a>
      </div>
  
      <!-- Tarjeta 2 -->
      <div class="max-w-sm p-6 bg-black border border-black rounded-lg shadow-sm dark:bg-[#9b9e7d]">
        <a href="#">
          <h2 class="mb-2 text-2xl font-bold tracking-tight  dark:text-black">
            Perfilado de Barba
          </h2>
        </a>
        <p class="font-sans mb-3 font-normal  dark:text-black">
            Define y perfecciona la forma de tu barba con técnicas precisas para lograr un acabado limpio y elegante.
        </p>
      </br>
      <p>$8.000</p>
        <a
          href="#"
          class="font-sans inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-gray-950 rounded-lg hover:bg-gray-950  dark:bg-gray-950 dark:hover:bg-gray-950 "
        >
          Reserva tu hora
          <svg
            class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M1 5h12m0 0L9 1m4 4L9 9"
            />
          </svg>
        </a>
      </div>
  
      <!-- Tarjeta 3 -->
      <div class="max-w-sm p-6 bg-black border border-black rounded-lg shadow-sm dark:bg-[#9b9e7d] ">
        <a href="#">
          <h2 class="mb-2 text-2xl font-bold tracking-tight  dark:black">
            Corte de Pelo + Barba 
          </h2>
        </a>
        <p class="font-sans mb-3 font-normal  dark:text-black">
            Una combinación completa que incluye un corte de cabello impecable junto con el cuidado y perfilado de tu barba para un look integral.
        </p>
      </br>
      <p>$14.000</p>
        <a
          href="#"
          class="font-sans inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-gray-950 rounded-lg hover:bg-gray-950  dark:bg-gray-950 dark:hover:bg-gray-950 "
        >
          Reserva tu hora
          <svg
            class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M1 5h12m0 0L9 1m4 4L9 9"
            />
          </svg>
        </a>
      </div>
  
      <!-- Tarjeta 4 -->
      <div class="max-w-sm p-6 bg-black border border-black rounded-lg shadow-sm dark:bg-[#9b9e7d] ">
        <a href="#">
          <h2 class="mb-2 text-2xl font-bold tracking-tight dark:text-black">
            Rizos Permanente
          </h2>
        </a>
        <p class="font-sans mb-3 font-normal dark:text-black">
            Dale a tu cabello un estilo duradero con rizos permanentes, añadiendo volumen y textura con un toque natural.
        </p>
      </br>
      <p>$50.000</p>
        <a
          href="#"
          class="font-sans inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-gray-950 rounded-lg hover:bg-gray-950  dark:bg-gray-950 dark:hover:bg-gray-950 "
        >
          Reserva tu hora
          <svg
            class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M1 5h12m0 0L9 1m4 4L9 9"
            />
            
            
          </svg>
          
        </a>
      </div>
    </div>
  </body>
  <section class="max-w-4xl mx-auto text-center mt-20">
    <h2 class="text-3xl font-bold mb-6">Lista de Precios</h2>
    
    <div class="border-t border-[#9b9e7d] w-full mb-6"></div>

    <ul class="text-xl font-medium">
        <li class="flex justify-between border-b border-gray-300 py-3">
            <span>Corte Clásico</span>
            <span class="font-bold">$10.000</span>
        </li>
        <li class="flex justify-between border-b border-gray-300 py-3">
            <span>Perfilado de Barba</span>
            <span class="font-bold">$8.000</span>
        </li>
        <li class="flex justify-between border-b border-gray-300 py-3">
            <span>Corte + Barba</span>
            <span class="font-bold">$14.000</span>
        </li>
        <li class="flex justify-between border-b border-gray-300 py-3">
            <span>Rizos + Corte</span>
            <span class="font-bold">$50.000</span>
        </li>
    </ul>
</section>