<body >
    <section class="max-w-4xl mx-auto text-center mt-20">
       <h2 class="text-3xl font-bold mb-6">Lista de Precios</h2>
      
       <div class="border-t border-[#9b9e7d] w-full mb-6"></div>
  
       <ul class="text-xl font-medium">
           <li class="flex justify-between border-b border-gray-300 py-3">
              <span>Barba Premium + Mascarilla facial</span>
              <span class="font-bold">$15.000</span>
           </li>
           <li class="flex justify-between border-b border-gray-300 py-3">
              <span>Barba con diseño personalizado</span>
              <span class="font-bold">$12.000</span>
           </li>
           <li class="flex justify-between border-b border-gray-300 py-3">
              <span>Barba & Cuidado de piel</span>
              <span class="font-bold">$18.000</span>
           </li>
           <li class="flex justify-between py-3">
              <span>Retoque con vapor ozonizado</span>
              <span class="font-bold">$10.000</span>
           </li>
       </ul>
       <br>
       <div class="border-t border-[#9b9e7d] w-full mb-6"></div>
    </section>

    <section class="bg-[#000000] text-[#9b9e7d] py-16 px-4 md:px-16">
      <div class="max-w-7xl mx-auto grid md:grid-cols-2 gap-10 items-center">
        <!-- Imagen -->
        <div>
          <img src="src/assets/images/barba.jpg" alt="Corte de barba" class="rounded-xl shadow-lg">
        </div>
    
        <!-- Texto -->
        <div>
          <h2 class="text-3xl font-bold mb-4">Nosotros</h2>
          <p class="text-lg leading-relaxed">
            En <span class="font-semibold">BarberShop</span> nos especializamos en el cuidado de la barba con servicios
            diseñados para resaltar tu estilo y bienestar. Inspirados en las clásicas barberías de antaño, 
            ofrecemos una experiencia única que combina técnica tradicional, productos premium y un ambiente acogedor.
          </p>
          <p class="mt-4 text-lg leading-relaxed">
            Desde un perfilado artístico hasta tratamientos con vapor ozonizado o mascarillas faciales, cada detalle
            está pensado para brindarte una atención de primer nivel. Redescubre el arte del cuidado personal con nosotros.
          </p>          
        </div>
      </div>
    </section>
    
  
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-8 max-w-6xl mx-auto pt-40 justify-items-center">
        
        <!-- Tarjeta 1 -->
        <div class="max-w-sm p-6 bg-black border border-black rounded-lg shadow-sm dark:bg-[#9b9e7d] ">
          <a href="#">
            <h2 class="mb-2 text-2xl font-bold tracking-tight dark:text-black">
              Barba Premium + Mascarilla facial
            </h2>
          </a>
          <p class="font-sans mb-3 font-normal  dark:text-black">
            Corte, perfilado, toalla caliente y aplicación de mascarilla negra o de arcilla.
          </p>
        </br>
        <p>$15.000</p>
        </div>
        <!-- Tarjeta 2 -->
        <div class="max-w-sm p-6 bg-black border border-black rounded-lg shadow-sm dark:bg-[#9b9e7d]">
          <a href="#">
            <h2 class="mb-2 text-2xl font-bold tracking-tight  dark:text-black">
              Barba con diseño personalizado
            </h2>
          </a>
          <p class="font-sans mb-3 font-normal  dark:text-black">
            Diseño artístico de contornos (rayas, ángulos, figuras).
          </p>
        </br>
        <p>$12.000</p>
        </div>
        <!-- Tarjeta 3 -->
        <div class="max-w-sm p-6 bg-black border border-black rounded-lg shadow-sm dark:bg-[#9b9e7d] ">
          <a href="#">
            <h2 class="mb-2 text-2xl font-bold tracking-tight  dark:black">
              Barba & Cuidado de piel
            </h2>
          </a>
          <p class="font-sans mb-3 font-normal  dark:text-black">
            Incluye exfoliación facial ligera, aceites nutritivos para barba y bálsamo especial.
          </p>
        </br>
        <p>$18.000</p>
        </div>
        <!-- Tarjeta 4 -->
        <div class="max-w-sm p-6 bg-black border border-black rounded-lg shadow-sm dark:bg-[#9b9e7d] ">
          <a href="#">
            <h2 class="mb-2 text-2xl font-bold tracking-tight  dark:black">
              Retoque con vapor ozonizado
            </h2>
          </a>
          <p class="font-sans mb-3 font-normal  dark:text-black">
            Servicio para suavizar la barba y abrir poros antes del afeitado, con vapor ozonizado.
          </p>
        </br>
      </br>
        <p>$10.000</p>
        </div>
      </div>
      <br>
      <div class="flex justify-center">
        <button class="mt-4 bg-black text-white rounded hover:bg-[#9b9e7d] p-2 w-1/2" >
          <a href="/pago">Reserva ahora</a>
        </button>
      </div>
  
    </body>
  