<body >
    <section class="max-w-4xl mx-auto text-center mt-20">
       <h2 class="text-3xl font-bold mb-6">Lista de Precios</h2>
      
       <div class="border-t border-[#9b9e7d] w-full mb-6"></div>
  
       <ul class="text-xl font-medium">
        <li class="flex justify-between border-b border-gray-300 py-3">
           <span>Perfilado Normal</span>
           <span class="font-bold">$1.000</span>
        </li>
        <li class="flex justify-between border-b border-gray-300 py-3">
           <span>Perfilado + Diseño Personalizado</span>
           <span class="font-bold">$2.000</span>
        </li>
        <li class="flex justify-between border-b border-gray-300 py-3">
           <span>Perfilado + Diseño + Mascarilla</span>
           <span class="font-bold">$4.000</span>
        </li>
        <li class="flex justify-between py-3">
           <span>Retoque Express + Gel Fijador</span>
           <span class="font-bold">$2.000</span>
        </li>
     </ul>
     
       <br>
       <div class="border-t border-[#9b9e7d] w-full mb-6"></div>
    </section>

    <section class="bg-[#000000] text-[#9b9e7d] py-16 px-4 md:px-16">
      <div class="max-w-7xl mx-auto grid md:grid-cols-2 gap-10 items-center">
        <!-- Imagen -->
        <div>
            <img src="src/assets/images/fotoceja.jpg" alt="Perfilado de cejas" width="398" height="265" class="rounded-xl shadow-lg">
        </div>
    
        <!-- Texto -->
        <div>
          <h2 class="text-3xl font-bold mb-4">Nosotros</h2>
          <p class="text-lg leading-relaxed">
            En <span class="font-semibold">BarberShop</span> nos especializamos en el arte del perfilado de cejas, con servicios pensados para realzar tu mirada y armonizar tus rasgos. Inspirados en técnicas de precisión y estética moderna, ofrecemos una experiencia personalizada que equilibra detalle, estilo y bienestar.
          </p>
          <p class="mt-4 text-lg leading-relaxed">
            Desde un diseño experto adaptado a tu rostro hasta tratamientos calmantes con productos de alta calidad, cada servicio está pensado para que vivas el perfilado de cejas como un ritual de belleza y confianza. Redescubre el poder de una mirada definida con nosotros.
          </p>          
        </div>
      </div>
    </section>
    
  
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-8 max-w-6xl mx-auto pt-40 justify-items-center">
        
        <!-- Tarjeta 1 -->
<div class="max-w-sm p-6 bg-black border border-black rounded-lg shadow-sm dark:bg-[#9b9e7d]">
    <a href="#">
      <h2 class="mb-2 text-2xl font-bold tracking-tight dark:text-black">
        Perfilado Normal
      </h2>
    </a>
    <p class="font-sans mb-3 font-normal dark:text-black">
      Limpieza básica para mantener la forma natural de tus cejas.
    </p>
    <p class="dark:text-black font-bold">$1.000</p>
  </div>
  
  <!-- Tarjeta 2 -->
  <div class="max-w-sm p-6 bg-black border border-black rounded-lg shadow-sm dark:bg-[#9b9e7d]">
    <a href="#">
      <h2 class="mb-2 text-2xl font-bold tracking-tight dark:text-black">
        Perfilado + Diseño Personalizado
      </h2>
    </a>
    <p class="font-sans mb-3 font-normal dark:text-black">
      Definición de cejas con forma adaptada a tu rostro usando pinza, hilo o cera.
    </p>
    <p class="dark:text-black font-bold">$2.000</p>
  </div>
  
  <!-- Tarjeta 3 -->
  <div class="max-w-sm p-6 bg-black border border-black rounded-lg shadow-sm dark:bg-[#9b9e7d]">
    <a href="#">
      <h2 class="mb-2 text-2xl font-bold tracking-tight dark:text-black">
        Perfilado + Diseño + Mascarilla
      </h2>
    </a>
    <p class="font-sans mb-3 font-normal dark:text-black">
      Perfilado completo con mascarilla calmante para reducir irritación y cerrar poros.
    </p>
    <p class="dark:text-black font-bold">$4.000</p>
  </div>
  
  <!-- Tarjeta 4 -->
  <div class="max-w-sm p-6 bg-black border border-black rounded-lg shadow-sm dark:bg-[#9b9e7d]">
    <a href="#">
      <h2 class="mb-2 text-2xl font-bold tracking-tight dark:text-black">
        Retoque Express + Gel Fijador
      </h2>
    </a>
    <p class="font-sans mb-3 font-normal dark:text-black">
      Retoque rápido con gel para definir y mantener las cejas en su lugar.
    </p>
    <p class="dark:text-black font-bold">$2.000</p>
  </div>
  
      </div>
      <br>
      <div class="flex justify-center">
        <button class="mt-4 bg-black text-white rounded hover:bg-[#9b9e7d] p-2 w-1/2" >
          <a href="/pago">Reserva ahora</a>
        </button>
      </div>
  
    </body>
  