<section class="mt-20 text-center">
    <h2 class="text-4xl font-playfair mb-10">Escoge una sucursal</h2>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6 px-6">
        <div class="bg-white shadow-lg rounded-lg overflow-hidden">
            <img src="/src/assets/Mutt.jpg" alt="Sucursal MUT" class="w-full h-48 object-cover">
            <div class="p-4">
                <h3 class="text-lg font-semibold">BarberShop MUT</h3>
                <p class="text-[#9b9e7d] font-bold">DIRECCIÓN</p>
                <p>Avenida Apoquindo 2730, Santiago, Chile</p>
                <p class="text-[#9b9e7d] font-bold">TELÉFONO</p>
                <p>972217532</p>
                <p class="text-[#9b9e7d] font-bold">HORARIOS DE ATENCIÓN</p>
                <p>Lunes a Jueves: 10:00 - 20:00</p>
                <p>Viernes y Sábado: 10:30 - 23:00</p>
                <p>Domingo: 11:00 - 20:00</p>
            </div>
        </div>
        <div class="bg-white shadow-lg rounded-lg overflow-hidden">
            <img src="/src/assets/Plaza de armas.jpg" alt="Sucursal Plaza de Armas" class="w-full h-48 object-cover">
            <div class="p-4">
                <h3 class="text-lg font-semibold">BarberShop Plaza de Armas</h3>
                <p class="text-[#9b9e7d] font-bold">DIRECCIÓN</p>
                <p>Merced 839, Galería Plaza de Armas, Santiago</p>
                <p class="text-[#9b9e7d] font-bold">TELÉFONO</p>
                <p>972217532</p>
                <p class="text-[#9b9e7d] font-bold">HORARIOS DE ATENCIÓN</p>
                <p>Lunes a Jueves: 10:00 - 20:30</p>
                <p>Viernes y Sábado: 10:30 - 23:00</p>
                <p>Domingo: 11:00 - 20:00</p>
            </div>
        </div>
        <div class="bg-white shadow-lg rounded-lg overflow-hidden">
            <img src="/src/assets/vespucio.jpg" alt="Sucursal Plaza Vespucio" class="w-full h-48 object-cover">
            <div class="p-4">
                <h3 class="text-lg font-semibold">BarberShop Plaza Vespucio</h3>
                <p class="text-[#9b9e7d] font-bold">DIRECCIÓN</p>
                <p>Av. Vicuña Mackenna Ote. 7110, La Florida, Santiago</p>
                <p class="text-[#9b9e7d] font-bold">TELÉFONO</p>
                <p>972217532</p>
                <p class="text-[#9b9e7d] font-bold">HORARIOS DE ATENCIÓN</p>
                <p>Lunes a Jueves: 10:00 - 20:00</p>
                <p>Viernes y Sábado: 10:30 - 23:00</p>
                <p>Domingo: 11:00 - 20:00</p>
            </div>
        </div>
    </div>
</section>